<div class="row">
  <form>
    <fieldset>
      <legend>New Part</legend>
      <div class="row collapse">
        <div class="large-2 columns">
          <span class="prefix">Title</span>
        </div>
        <div class="large-10 columns">
          <input type="text" placeholder="title">
        </div>
      </div>
      <button class="button small">Add</button>
    </fieldset>
  </form>
</div>
