{{textarea valueBinding="model.content"}}
<div class="row">
  <div class="large-24 columns lil-widget">
    {{#linkTo "part.index" part class="button small left secondary"}} Cancel {{/linkTo}}
    <button class='btn small right' {{action "createRevision"}}> Propose Revision </button>
  </div>
</div>
