<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns">
        <h6 class="left">{{suggestion.user.username}}</h6>
        <ul class="right actions">
          <li><a href="#" {{action "delete" suggestion}}>X</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        {{#linkTo "suggestion" suggestion}}Show{{/linkTo}}
        {{markdown suggestion.content}}
      </div>
    </div>
  </div>
</div>

