<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns">
        {{#linkTo "version" version}}View version{{/linkTo}}
      </div>
    </div>
  </div>
</div>

