{{#each comment in content}}

  <div class="row comment" {{bindAttr id="comment.anchor"}}>

    <div class="large-12 columns comment-content">
      <a href="#" class="delete" {{action "delete" comment}} aria-label="Delete">
        <i class="foundicon-remove"></i>
      </a>

      <img class="avatar" src="http://cdn1.iconfinder.com/data/icons/basicset/user_64.png"/>

      <div class="formatted-text"> {{markdown comment.content}} </div>
    </div>
  </div>

{{/each}}
