<div class="row">
  <div class="large-24 columns lil-widget">
    <form>
      {{textarea valueBinding="view.commentBody"}}
      <input type="submit" class="small button" value="Save">
    </form>
  </div>
</div>
