<div class="large-24 columns">
  <div class='row'>
    <div class='large-24 columns lil-widget'>
      <form>
        {{input placeholder='Name' value=view.partName}}
      </form>
    </div>
  </div>
</div>
