<nav class="sub-top-bar">
  <div class="row">
    <h2 class="left"> {{model.name}} </h2>
    <div class="right">
      <ul class="button-group">
        {{#each part in model.sortedParts}}
          <li> {{#linkTo "part" part class="small button"}} {{part.title}} {{/linkTo}} </li>
        {{/each}}
      </ul>
      <a {{action createPart}} class="small button">New Part</a>
    </div>
  </div>
</nav>

{{outlet}}
