<div id="project" class='row'>

  <div class="large-6 columns">

    <div class='row'>

      <div class="large-24 columns">
        <div class='row'>
          <div class='large-24 columns lil-widget last'>
            <a class='stacked' href="#"> Master </a>
          </div>
        </div>
      </div>

      {{render "parts" model.parts}}
    </div>
  </div>

  <div class="large-offset-1 large-17 columns">
    {{outlet}}
  </div>

</div>
