<nav class="sub-top-bar">
  <div class="row">
    <h2 class="left"> {{model.name}} </h2>
    <ul class="button-group right">
      {{#each part in model.parts}}
        <li> {{#linkTo "part" part class="small button"}} {{part.title}} {{/linkTo}} </li>
      {{/each}}
    </ul>
  </div>
</nav>

{{outlet}}
