<div class="row">
  <div class="large-12 columns">
    <a class="stacked">{{model.part.title}}</a>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    {{model.content}}
  </div>
</div>

{{render "comments" model.comments}}

{{view "Labs.NewCommentView"}}

