<div class="row">
  <div class="large-12 columns">
    <a class="stacked">{{#linkTo "part" model.part}}{{model.part.title}}{{/linkTo}}</a>
    {{model.part.user.username}}
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    {{model.content}}
  </div>
</div>

{{render "comments" model.comments}}
