<div class="large-12 columns">
  {{view Ember.TextField valueBinding="name" placeholder="Name" id="project_name"}}

  <ul class="button-group right">
    <li><button {{action "create"}} class="small button secondary">Create</button></li>
  </ul>
</div>
